@import url('https://fonts.googleapis.com/css?family=ABeeZee');

body {
    background-color: #2b9f3f;
}

.title {
    color: #2b9f3f;
    font-family: 'ABeeZee';
/*    font-family: 'Times New Roman', Times, serif;*/
}

.text_nav {
    color: #2b9f3f;
}

.navbar {
    padding: 10px 20px;
}

.cards-container {
    justify-content: space-around;
    display: flex;
}

.cards {
    text-align: center;
    background-color: #eaeef1;
    width: 30%;
}
